name: TOC Generator

on: 
  push:
    paths:
      - 'Documentation/**'
      - '*.md'

jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v2
        with:
          TARGET_PATHS: README.md, CONTRIBUTING.md, Documentation/*.md
          FOLDING: true
          MAX_HEADER_LEVEL: 3
          TOC_TITLE: 'Details'
